
.navbar{
    background-color: #77E4C8;
    opacity: .7;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}


.nav-item{
    margin-left: 330px;
    display: flex;
   justify-content: flex-end;
    
    
}
