
.navbar{
    background-color: #77E4C8;
    opacity: .7;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}


.nav-item {
    margin-left: 200px;
    display: flex;
    justify-content: space-around;
    justify-content: flex-end;
    background-color: transparent;
    border-radius: 20px;
    opacity: 0.9;
    transition: background-color 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
  }
  
  .nav-item:hover {
    background-color: #F3FEB8;
    opacity: 0.9;
    transform: scale(1.2);
  }


