<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <!-- /Users/damacm1126/Desktop/NEW PROJECT/vice_portfolio23/src/assets/images -->
     <!--  -->
   <a class="navbar-brand" href="#">  <h6 class="name"> {{navbarpro [0]}} </h6></a> 
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page"href="#scrollspyHome">{{navbarpro [1]}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#scrollspyAbout">{{navbarpro [2]}}</a>
        </li>

        <li class="nav-item">
          <a class="nav-link"href="#scrollspyProjects">{{navbarpro [3]}}</a>
        </li>

        <li class="nav-item">
          <a class="nav-link"href="#scrollspyContact">{{navbarpro [4]}}</a>
        </li>
        
      </ul>
      <div class="btn-group">
        <a href="../../assets/images/T M CV.pdf" download="Thabang Mthimkulu_CV.pdf" class="btn btn-outline-primary custom-btn">{{navbarpro [5]}}</a>
    </div>
        
    </div>
  </div>
 
</nav>


        