
.header{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50px;
    padding-top: 80px;

}


.section{
    text-align: center;
    font-size: 16px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.home{
    height: 660px;
    background-color: #36C2CE;
    
}

.btn {
    position: absolute;    
    text-align: center;      
    border: 1px solid #007BFF; 
   
}