<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example " tabindex="0">
  <div class="video position-relative">
    <video autoplay muted loop id="myVideo">
        <source src="https://video.wixstatic.com/video/c0bbc5_ea3fdc8d953b4dbcab20a021d2ef1389/1080p/mp4/file.mp4"
            type="video/mp4">
    </video>



<div class="home"> 
  
    <img class="pictureoffice" src="../../assets/images/thabangoffice.jpeg" alt="">
     <h4 class="header" id="scrollspyHome">HEY, I'M THABANG MTHIMKULU</h4>

     <div class="social">
      <a href="https://github.com/mthimkulu23" class="github"><i class="fab fa-github"></i></a>
      <a href="https://www.linkedin.com/in/thabang-mthimkulu-b27316241/?trk=opento_sprofile_topcard" class="linkedin"><i class="fab fa-linkedin"></i></a>
      <a href="https://discord.com/channels/@me" class="discord"><i class="fab fa-discord"></i></a>
  </div>

    <p class="section">Enthusiastic Frontend & Backend Developer, Passionate about creating visually appealing user-friendly websites. Committed to delivering high-quality, responsive web interfaces. Eager to contribute creativity and stay updated on emerging technologies. Excited about crafting engaging digital experiences in the dynamic world of marketing solutions. #Frontend & Backend Developer #Web Development #TechEnthusiast </p>
</div>


<div class="About"> 
<h4 class="individual" id="scrollspyAbout">ABOUT ME</h4>
    <p class="who_l_am">In this section, you'll discover more about who I am, my journey, and my current skills, particularly in programming and technology.</p>

    <div class="row">
      <div class="col-sm-6 mb-3 ">
        <div class="card">
          <div class="card-body">
            <h5 class="get_to_know">Get to know me!</h5>
            <p class="card-text">I'm a Full-Stack Developer building and managing the Front-end and Back-end of Websites and Web Applications that leads to the success of the overall product. Check out some of my work in the Projects section.</p>
            <p class="card-text">I'm open to Job opportunities where I can contribute, learn and grow. If you have a good opportunity that matches my skills then don't hesitate to contact me.</p>
            <button type="button" class="btn-custom">Contact</button>

          </div>
        </div>
      </div>
     
      <div class="col-sm-6">
        <div class="card">
            <div class="get_to_know">&nbsp;&nbsp;&nbsp;MY SKILLS</div>
            <div class="card-body">
                <div class="row">

                    <button type="button" class="btn btn-light">
                        <i class="fab fa-html5"></i> HTML
                    </button>
                    <button type="button" class="btn btn-light">
                        <i class="fab fa-css3-alt"></i> CSS
                    </button>
                    <button type="button" class="btn btn-light">
                        <i class="fab fa-js-square"></i> JAVASCRIPT
                    </button>
                    <button type="button" class="btn btn-light">
                        <i class="fab fa-angular"></i> ANGULAR
                    </button>
    
                    <br>
                    
    
                    <div class="w-100"></div><br>
                    <button type="button" class="btn btn-light">
                        <i class="fab fa-python"></i> PYTHON
                    </button>
                    <button type="button" class="btn btn-light">
                        <i class="fab fa-github"></i> GITHUB
                    </button>
                    <button type="button" class="btn btn-light">
                        <i class="fab fa-creative-commons"></i> CANVAS
                    </button>
                    <button type="button" class="btn btn-light">
                        <i class="fas fa-database"></i> MONGODB
                    </button>
    
                    <br>
    
                    <button type="button" class="btn btn-light">
                        <i class="fab fa-figma"></i> FIGMA
                    </button>

                 
                </div>
            </div>
        </div>
    </div>
 

      <div class="resume">
        <h4 class="individual" id="scrollspyExperience">EXPERIENCE</h4>
        
        <div class="resume-item">
          <h5>Full Stack Developer - Shaper</h5>
          <h6>Octo 2023 -  Sep 2024</h6>
          <p>Develop and maintain user-friendly web applications.</p>
          <ul>
            <li>Designed responsive UI components.</li>
           <li> Participate to Team Project</li>
            <li>Participate in Sprint meeting whereby showcase project been working on it.</li>
          </ul>
        </div><br>
      
    
        <h4 class="individual">EDUCATION</h4>
              <div class="resume-item">
                <h5>Speccon Holdings </h5>
                <h6>I.T. System Support NQF (Level 5)  2023 - 2024</h6>
                <p>IT system support, emphasizing troubleshooting and network management.</p>
              </div><br>
        
              <div class="resume-item">
                <h5>Ekurhuleni East TVET College</h5>
                <h6>Electrical Engineering (Nated N)2020 - 2020</h6>
                <p>Covered fundamental concepts in electrical engineering (Heavy-Current).</p>
              </div><br>
        
              <div class="resume-item">
                <h5>Winile Secondary School</h5>
                <h6>Commerce Stream  2018 - 2018</h6>
                <p>Business management concepts, organizational behavior, and entrepreneurship, Microeconomics and macroeconomics concepts.</p>
              </div>
            </div>
          </div>
        </div>
       




    <div class="projects">
    <h4 class="individual" id="scrollspyProjects">PROJECTS</h4>
    <p class="who_l_am">Here you will find some of the projects worked on  </p>

    <div class="card-group-main">
      <div class="card-main">
          <img class="card-img-main" src="../../assets/images/Mobile salon11.jpeg" alt="Card image cap">
          <div class="card-body"> <br>
              <h5 class="card-title">Radient Aesthentic</h5><br>
              <p class="card-text">Create a welcoming environment that embodies beauty, comfort, and relaxation.</p>
              <a href="https://github.com/The-DigitalAcademy/Client_Salon_PWD">
                <button type="button" class="btn-custom">View Github</button>
            </a>    
          </div>
      </div> 
  
      <div class="card-main">
          <img style="height: 70%;" class="card-img-main" src="../../assets/images/Mobile Dynamic12.jpeg" alt="Card image cap">
          <div class="card-body"> <br>
              <h5 class="card-title">Driven Dynamics</h5>
              <p class="card-text">Driven Dynamics focuses specifically on connecting car buyers and sellers through market platform .</p>
              <a href="https://github.com/mthimkulu23/New-project">
                <button type="button" class="btn-custom">View Github</button>
            </a>    
          </div>
      </div> 
  
      <div class="card-main">
          <img style="height: 60%;" class="card-img-main" src="../../assets/images/calculator stock.jpeg" alt="Card image cap">
          <div class="card-body"><br>
              <h5 class="card-title">Calculator</h5><br>
              <p class="card-text">Calculator friendly to use  makes math easy and accessible for everyone.</p>
              <a href="https://github.com/mthimkulu23/Python-mongodb-calculator">
                <button type="button" class="btn-custom">View Github</button>
            </a>          
          </div>
      </div>
  </div>
  </div>





<h4  id="scrollspyContact"></h4>
<p></p>
   
  
</div>
</div>

  
  









  


  